<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676233421268-5vibfvrj892v15romjnr58g579umdul1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676233421268-5vibfvrj892v15romjnr58g579umdul1</string>
	<key>API_KEY</key>
	<string>AIzaSyB6-vBhw2fhd6gF6tAGxjnA--t3rr7Obyo</string>
	<key>GCM_SENDER_ID</key>
	<string>676233421268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nus.drmorpheus</string>
	<key>PROJECT_ID</key>
	<string>mcqbase-159dc</string>
	<key>STORAGE_BUCKET</key>
	<string>mcqbase-159dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676233421268:ios:509c6621e6add418053641</string>
	<key>DATABASE_URL</key>
	<string>https://mcqbase-159dc.firebaseio.com</string>
</dict>
</plist>